##### Getting Started Analyzing Data in Python

**Basic insights of Dataset - Data Types**

**Pandas Type**
object
int64
float64
datetime64, timedelta[ns] 

**Native Python Type**
string
int
float
N/A (but see the datetime module in Pythons standard library)

**Description**
numbers and strings
Numeric characters
Numeric characters with decimals
time data

#### Why check data types?

* Potential info and type mismatch
* compatibility with Python methods

**In pands**, we use **dataframe.dtypes** to check data types

* df.dtypes

**dataframe.describe()**
* returns a statistical summary
* df.describe()

In [3]:
import pandas as pd

# reading a csv file
df = pd.read_csv('automobile.csv')
df

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,200,-1,95,volvo,gas,std,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,202,-1,95,volvo,gas,std,four,sedan,rwd,front,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [5]:
# Returns a statistical summary
df.describe()

,Unnamed: 0,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,102.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,0.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,51.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,102.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,153.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,204.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [6]:
# Returns all statistical summary
df.describe(include="all")

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,205.000000,205,205,205,205,205,205,205,205,...,205.000000,205,205,205,205.000000,205,205,205.000000,205.000000,205
unique,NaN,NaN,52,22,2,2,3,5,3,2,...,NaN,8,39,37,NaN,60,24,NaN,NaN,187
top,NaN,NaN,?,toyota,gas,std,four,sedan,fwd,front,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,NaN,41,32,185,168,114,96,120,202,...,NaN,94,23,20,NaN,19,37,NaN,NaN,4
mean,102.000000,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,59.322565,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,0.000000,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,51.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,102.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,153.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,204.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

**Nan** numbers = This is because that particular statistical metric cannot be calculated for that specific column data type.

**Unique** numbers = is the number of distinct objects in the column, **top** is the most frequently occurring object.

**freq** numbers = is the number of times the **top** object appears in the column.

In [8]:
#Check the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         205 non-null    int64
 1   symboling          205 non-null    int64
 2   normalized-losses  205 non-null    object
 3   make               205 non-null    object
 4   fuel-type          205 non-null    object
 5   aspiration         205 non-null    object
 6   num-of-doors       205 non-null    object
 7   body-style         205 non-null    object
 8   drive-wheels       205 non-null    object
 9   engine-location    205 non-null    object
 10  wheel-base         205 non-null    float64
 11  length             205 non-null    float64
 12  width              205 non-null    float64
 13  height             205 non-null    float64
 14  curb-weight        205 non-null    int64
 15  engine-type        205 non-null    object
 16  num-of-cylinders   205 non-null    object
 17  engine-size        205 non-null    int64
 18  fuel-system        205 non-null    object
 19  bore               205 non-null    object
 20  stroke             205 non-null    object
 21  compression-ratio  205 non-null    float64
 22  horsepower         205 non-null    object
 23  peak-rpm           205 non-null    object
 24  city-mpg           205 non-null    int64
 25  highway-mpg        205 non-null    int64
 26  price              205 non-null    object
dtypes: float64(5), int64(6), object(16)
memory usage: 43.4+ KB