In [1]:
import numpy as np
import pandas as pd

In [4]:
# name_of_df = pd.read_csv('filename.ext or file_path.ext')
new_df = pd.read_csv('animal.csv')
print('Data loaded')
new_df

Data loaded

  Unnamed: 0 animal  age  visits priority
0          a    cat  2.5       1      yes
1          b    cat  3.0       3      yes
2          c  snake  0.5       2       no
3          d    dog  NaN       3      yes
4          e    dog  5.0       2       no
5          f    cat  1.5       3       no
6          g  snake  4.5       1       no
7          h    cat  NaN       1      yes
8          i    dog  7.0       2       no
9          j    dog  3.0       1       no

In [ ]:
#you may get unicode error: add r or make all the back slases as forward

In [5]:
new_hp = pd.read_csv('E:\DATA SETS/KAGGLE/winequality-red.csv')
print('Data loaded')
new_hp

Data loaded

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [6]:
#read an excel file
airpot_data = pd.read_excel('Airport_Data.xlsx')
print('Data loaded')
airpot_data

Data loaded

,SiteNumber,Type,LocationID,EffectiveDate,Region,DistrictOffice,State,StateName,County,CountyState,...,AirportPositionSource,AirportPositionSourceDate,AirportElevationSource,AirportElevationSourceDate,ContractFuelAvailable,TransientStorage,OtherServices,WindIndicator,IcaoIdentifier,BeaconSchedule2
0,50009.*A,AIRPORT,'ADK,3/30/2017,AAL,NONE,AK,ALASKA,ALEUTIANS WEST,AK,...,3RD PARTY SURVEY,00:00:00,3RD PARTY SURVEY,00:00:00,NaN,HGR,CARGO,Y,PADK,SS-SR
1,50016.1*A,AIRPORT,'AKK,3/30/2017,AAL,NONE,AK,ALASKA,KODIAK ISLAND,AK,...,NACO,00:00:00,NACO,00:00:00,NaN,NaN,NaN,Y,PAKH,NaN
2,50017.*A,AIRPORT,'Z13,3/30/2017,AAL,NONE,AK,ALASKA,BETHEL,AK,...,STATE,00:00:00,STATE,00:00:00,NaN,NaN,CARGO,Y-L,NaN,SEE RMK
3,50017.1*C,SEAPLANE BASE,'KKI,3/30/2017,AAL,NONE,AK,ALASKA,BETHEL,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
4,50020.*A,AIRPORT,'AKI,3/30/2017,AAL,NONE,AK,ALASKA,BETHEL,AK,...,STATE,00:00:00,STATE,00:00:00,NaN,NaN,CARGO,Y-L,PFAK,SS-SR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746,50920.12*C,SEAPLANE BASE,'2Y3,3/30/2017,AAL,NONE,AK,ALASKA,SKAGWAY-YAKUTAT,AK,...,FAA-EST,00:00:00,NaN,NaN,NaN,TIE,CARGO,NaN,NaN,NaN
747,50920.*A,AIRPORT,'YAK,3/30/2017,AAL,NONE,AK,ALASKA,SKAGWAY-YAKUTAT,AK,...,3RD PARTY SURVEY,00:00:00,3RD PARTY SURVEY,00:00:00,NaN,HGR,CARGO,Y-L,PAYA,SS-SR
748,50925.1*A,AIRPORT,'A77,3/30/2017,AAL,NONE,AK,ALASKA,KUSKOKWIM,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,CARGO,NaN,NaN,NaN
749,50928.*C,SEAPLANE BASE,'78K,3/30/2017,AAL,NONE,AK,ALASKA,KETCHIKAN GATEWAY,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,CARGO,N,NaN,NaN
750,50990.*A,AIRPORT,'L20,3/30/2017,AAL,NONE,AK,ALASKA,UPPER YUKON,AK,...,FAA-EST,00:00:00,NaN,NaN,NaN,NaN,CARGO,Y,NaN,NaN

In [8]:
airpot_data.head()

,SiteNumber,Type,LocationID,EffectiveDate,Region,DistrictOffice,State,StateName,County,CountyState,...,AirportPositionSource,AirportPositionSourceDate,AirportElevationSource,AirportElevationSourceDate,ContractFuelAvailable,TransientStorage,OtherServices,WindIndicator,IcaoIdentifier,BeaconSchedule2
0,50009.*A,AIRPORT,'ADK,3/30/2017,AAL,NONE,AK,ALASKA,ALEUTIANS WEST,AK,...,3RD PARTY SURVEY,00:00:00,3RD PARTY SURVEY,00:00:00,NaN,HGR,CARGO,Y,PADK,SS-SR
1,50016.1*A,AIRPORT,'AKK,3/30/2017,AAL,NONE,AK,ALASKA,KODIAK ISLAND,AK,...,NACO,00:00:00,NACO,00:00:00,NaN,NaN,NaN,Y,PAKH,NaN
2,50017.*A,AIRPORT,'Z13,3/30/2017,AAL,NONE,AK,ALASKA,BETHEL,AK,...,STATE,00:00:00,STATE,00:00:00,NaN,NaN,CARGO,Y-L,NaN,SEE RMK
3,50017.1*C,SEAPLANE BASE,'KKI,3/30/2017,AAL,NONE,AK,ALASKA,BETHEL,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
4,50020.*A,AIRPORT,'AKI,3/30/2017,AAL,NONE,AK,ALASKA,BETHEL,AK,...,STATE,00:00:00,STATE,00:00:00,NaN,NaN,CARGO,Y-L,PFAK,SS-SR

In [9]:
airpot_data[10:20]

,SiteNumber,Type,LocationID,EffectiveDate,Region,DistrictOffice,State,StateName,County,CountyState,...,AirportPositionSource,AirportPositionSourceDate,AirportElevationSource,AirportElevationSourceDate,ContractFuelAvailable,TransientStorage,OtherServices,WindIndicator,IcaoIdentifier,BeaconSchedule2
10,50027.6*A,AIRPORT,'4AK7,3/30/2017,AAL,NONE,AK,ALASKA,BRISTOL BAY,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
11,50027.51*A,AIRPORT,'Z25,3/30/2017,AAL,NONE,AK,ALASKA,BRISTOL BAY,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
12,50029.1*A,AIRPORT,'6A8,3/30/2017,AAL,NONE,AK,ALASKA,YUKON-KOYUKUK,AK,...,3RD PARTY SURVEY,00:00:00,3RD PARTY SURVEY,00:00:00,NaN,TIE,NaN,Y-L,PFAL,SS-SR
13,50029.61*A,AIRPORT,'AFM,3/30/2017,AAL,NONE,AK,ALASKA,NORTHWEST ARCTIC,AK,...,FAA,00:00:00,3RD PARTY SURVEY,00:00:00,NaN,TIE,CHTR,Y-L,PAFM,SS-SR
14,50031.*A,AIRPORT,'80A,3/30/2017,AAL,NONE,AK,ALASKA,YUKON-KOYUKUK,AK,...,FAA-EST,00:00:00,FAA OE/AAA,00:00:00,NaN,NaN,NaN,N,NaN,NaN
15,50031.5*C,SEAPLANE BASE,'AK81,3/30/2017,AAL,NONE,AK,ALASKA,KODIAK ISLAND,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
16,50032.*A,AIRPORT,'AKP,3/30/2017,AAL,NONE,AK,ALASKA,YUKON-KOYUKUK,AK,...,3RD PARTY SURVEY,00:00:00,3RD PARTY SURVEY,00:00:00,NaN,TIE,NaN,N,PAKP,SEE RMK
17,50037.3*A,AIRPORT,'AK00,3/30/2017,AAL,NONE,AK,ALASKA,KENAI PENINSULA,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
18,50037.31*A,AIRPORT,'00AK,3/30/2017,AAL,NONE,AK,ALASKA,SEWARD,AK,...,OWNER,00:00:00,OWNER,00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
19,50033.1*H,HELIPORT,'2OK,3/30/2017,AAL,NONE,AK,ALASKA,ANCHORAGE,AK,...,FAA,00:00:00,NaN,NaN,NaN,NaN,NaN,Y-L,NaN,SS-SR

In [10]:
#check the columns of the data frame
airpot_data.columns

Index(['SiteNumber', 'Type', 'LocationID', 'EffectiveDate', 'Region',
       'DistrictOffice', 'State', 'StateName', 'County', 'CountyState',
       ...
       'AirportPositionSource', 'AirportPositionSourceDate',
       'AirportElevationSource', 'AirportElevationSourceDate',
       'ContractFuelAvailable', 'TransientStorage', 'OtherServices',
       'WindIndicator', 'IcaoIdentifier', 'BeaconSchedule2'],
      dtype='object', length=103)

In [11]:
airpot_data.index #index

RangeIndex(start=0, stop=751, step=1)

In [12]:
airpot_data.tail() #last rows of the data set

,SiteNumber,Type,LocationID,EffectiveDate,Region,DistrictOffice,State,StateName,County,CountyState,...,AirportPositionSource,AirportPositionSourceDate,AirportElevationSource,AirportElevationSourceDate,ContractFuelAvailable,TransientStorage,OtherServices,WindIndicator,IcaoIdentifier,BeaconSchedule2
746,50920.12*C,SEAPLANE BASE,'2Y3,3/30/2017,AAL,NONE,AK,ALASKA,SKAGWAY-YAKUTAT,AK,...,FAA-EST,00:00:00,NaN,NaN,NaN,TIE,CARGO,NaN,NaN,NaN
747,50920.*A,AIRPORT,'YAK,3/30/2017,AAL,NONE,AK,ALASKA,SKAGWAY-YAKUTAT,AK,...,3RD PARTY SURVEY,00:00:00,3RD PARTY SURVEY,00:00:00,NaN,HGR,CARGO,Y-L,PAYA,SS-SR
748,50925.1*A,AIRPORT,'A77,3/30/2017,AAL,NONE,AK,ALASKA,KUSKOKWIM,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,CARGO,NaN,NaN,NaN
749,50928.*C,SEAPLANE BASE,'78K,3/30/2017,AAL,NONE,AK,ALASKA,KETCHIKAN GATEWAY,AK,...,NaN,NaN,NaN,NaN,NaN,NaN,CARGO,N,NaN,NaN
750,50990.*A,AIRPORT,'L20,3/30/2017,AAL,NONE,AK,ALASKA,UPPER YUKON,AK,...,FAA-EST,00:00:00,NaN,NaN,NaN,NaN,CARGO,Y,NaN,NaN

In [13]:
# write df as csv or excel
airpot_data.to_csv('airpot_data_pandas_df')
print('File created')

File created

In [16]:
airpot_data.to_csv('airpot_data_pandas_df.csv')
print('CSV File created')

CSV File created